<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Nailed, a Minecraft PvP server framework
  ~ Copyright (C) jk-5 <http://github.com/jk-5/>
  ~ Copyright (C) Nailed team and contributors <http://github.com/nailed/>
  ~
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the MIT License.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the MIT License along with
  ~ this program. If not, see <http://opensource.org/licenses/MIT/>.
  -->

<Configuration status="WARN" packages="com.mojang">
    <Appenders>
        <Routing name="WINDOWS_COMPAT">
            <Routes pattern="$${ctx:plugin}">
                <Route>
                    <Console name="WINDOWS_COMPAT" target="SYSTEM_OUT">
                        <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%X{plugin}]: %msg%n" />
                    </Console>
                </Route>
                <Route key="$${ctx:plugin}">
                    <Console name="WINDOWS_COMPAT" target="SYSTEM_OUT">
                        <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n" />
                    </Console>
                </Route>
            </Routes>
        </Routing>
        <Routing name="TerminalConsole">
            <Routes pattern="$${ctx:plugin}">
                <Route>
                    <Queue name="TerminalConsole">
                        <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%X{plugin}]: %msg%n" />
                    </Queue>
                </Route>
                <Route key="$${ctx:plugin}">
                    <Queue name="TerminalConsole">
                        <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n" />
                    </Queue>
                </Route>
            </Routes>
        </Routing>
        <Routing name="File">
            <Routes pattern="$${ctx:plugin}">
                <Route>
                    <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
                        <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%X{plugin}]: %msg%n" />
                        <Policies>
                            <TimeBasedTriggeringPolicy />
                            <OnStartupTriggeringPolicy />
                        </Policies>
                    </RollingRandomAccessFile>
                </Route>
                <Route key="$${ctx:plugin}">
                    <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
                        <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n" />
                        <Policies>
                            <TimeBasedTriggeringPolicy />
                            <OnStartupTriggeringPolicy />
                        </Policies>
                    </RollingRandomAccessFile>
                </Route>
            </Routes>
        </Routing>
        <RandomAccessFile name="NettyLog" fileName="logs/netty.log">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n" />
        </RandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger level="all" name="io.netty">
            <AppenderRef ref="NettyLog"/>
            <AppenderRef ref="WINDOWS_COMPAT" level="WARN"/>
            <AppenderRef ref="File" level="WARN"/>
            <AppenderRef ref="TerminalConsole" level="WARN"/>
        </Logger>
        <Root level="all">
            <filters>
                <MarkerFilter marker="NETWORK_PACKETS" onMatch="DENY" onMismatch="NEUTRAL" />
            </filters>
            <AppenderRef ref="WINDOWS_COMPAT" level="INFO"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="TerminalConsole" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>
